.btn {
  height: 40px;
  background: linear-gradient(to bottom, #293452, white);
  width: 128px;
  margin: 15px 5px 15px 5px;
  cursor: hand;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
    -webkit-box-shadow: 2px 3px 3px #666666;
  -moz-box-shadow: 2px 3px 3px #666666;
  box-shadow: 2px 3px 3px #666666;
}

.btn:hover{
  -webkit-box-shadow: 1px 1px 1px #666666;
  -moz-box-shadow: 1px 1px 1px #666666;
  box-shadow: 1px 1px 1px #666666;
}

.userNave{
  width: 140px;
  float: left;
}



/*
<nav class="userNave">
    <div class="btn" 
         onClick="alert('Hi')" 
         style="">Click Me Me</div>

  
    <div class="btn" 
         onClick="alert('Hello')" 
         style="">No Click Me </div>

*/

































