/* line 5, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/partials/_sideMenu.scss */
.btn {
  height: 40px;
  background: linear-gradient(to bottom, #f53e10, #ffffff);
  width: 90%;
  margin: 15px 5px 15px 5px;
  cursor: hand;
  text-align: left;
  padding: 0px 0px 0px 25px;
  box-sizing: border-box;
  vertical-align: middle;
  line-height: 40px;
  box-shadow: 2px 3px 3px #666666;
}

/* line 15, ../sass/partials/_sideMenu.scss */
.btn:hover {
  box-shadow: 1px 1px 1px #666666;
}

/* line 11, ../sass/styles_Default.scss */
.mainContainer {
  display: flex;
  width: 100%;
  min-width: 300px;
  max-width: 1100px;
  flex-wrap: wrap;
  margin: 0 auto;
}

/* line 20, ../sass/styles_Default.scss */
.mainHeader {
  width: 100%;
  height: 150px;
  padding: 10px;
  box-sizing: border-box;
  background: linear-gradient(175deg, #8e2b09, #f53e10);
  order: 1;
  display: flex;
}

/* line 33, ../sass/styles_Default.scss */
.mainFooter {
  order: 3;
  width: 100%;
  background: linear-gradient(175deg, #f53e10, #d38143);
  padding: 10px;
  box-sizing: border-box;
}

/* line 41, ../sass/styles_Default.scss */
.middleBody {
  order: 2;
  display: flex;
  flex-wrap: wrap;
  min-height: 500px;
}

/* line 47, ../sass/styles_Default.scss */
.mainNav {
  order: 2;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
/* line 52, ../sass/styles_Default.scss */
.mainNav div {
  color: silver;
}
/* line 54, ../sass/styles_Default.scss */
.mainNav div a {
  color: white;
  text-decoration: none;
}

/* line 61, ../sass/styles_Default.scss */
.userNav {
  width: 100%;
  margin: 0 auto;
}

/* line 66, ../sass/styles_Default.scss */
.sideBar {
  order: 1;
  flex: 1;
  flex-basis: 200px;
  display: flex;
  flex-flow: column;
  align-content: center;
}

/* line 74, ../sass/styles_Default.scss */
.mainSubject {
  order: 2;
  flex: 5;
  flex-basis: 500px;
  padding: 15px;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',  'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1rem;
}

/* line 88, ../sass/styles_Default.scss */
.uniLogo {
  order: 1;
  width: 100%;
}

/* line 93, ../sass/styles_Default.scss */
.userImage {
  text-align: center;
  width: 100%;
}

/* line 98, ../sass/styles_Default.scss */
.socialLinks {
  text-align: center;
  width: 100%;
  vertical-align: middle;
  height: 30px;
}

/* line 105, ../sass/styles_Default.scss */
h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.2em;
  font-weight: 600;
  padding: 15px 0px 10px 0px;
}
